.notifications-wrapper {
  transition: all 200ms ease-in-out;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  color: #000;
  min-height: 50px;
}

.notification-content {
  width: 90%;
  p {
    text-align: center;
    color: white;
    margin-bottom: 0;
  }
}

.notification-close {
  margin-left: auto;
  .btn-close {
    font-weight: bold;
    color: white;
    padding: 0 15px;
  }
}
