<div #notifications
     class="notifications-wrapper"
     [ngClass]="{
        'bg-success': data.type === _SUCCESS,
        'bg-danger': data.type === _ERROR,
        'bg-warning': data.type === _WARN
     }"
>
  <div class="notification-content">
    <p class="notification-msg">{{ (data.message$ | async) || data.message }}</p>
    <ul class="notification-actions list-nostyle" *ngIf="data.actions">
      <li *ngFor="let action of data.actions">
        <a *ngIf="action.type === 'link'"
           class="notification-link"
           [title]="(action.text$ | async) || action.text"
           [href]="action.link"
           (click)="onClick($event, false)"
        >
          {{ (action.text$ | async) || action.text }}
        </a>
        <button *ngIf="action.type === 'button'"
                class="notification-btn btn-nostyle"
                [title]="(action.text$ | async) || action.text"
                (click)="onClick($event, true)"
        >
          {{ (action.text$ | async) || action.text }}
        </button>
      </li>
    </ul>
  </div>
  <div class="notification-close">
    <button class="btn-close btn-nostyle" (click)="onClose()" title="Close notification" role="button">
      X
    </button>
  </div>
</div>
