.notifications-wrapper {
  transition: all 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  background: white;
  color: #000;
  min-height: 50px;
}

.notification-content {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  p {
    text-align: center;
    color: white;
    margin-bottom: 0;
  }
  ul {
    margin-left: 15px;
    li {
      a,
      button {
        font-weight: bold;
        color: whitesmoke;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.notification-close {
  margin-left: auto;
  .btn-close {
    font-weight: bold;
    color: white;
    padding: 0 15px;
  }
}
